

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #fff 
}

a{
    text-decoration: none;

}
 ul, ol {
list-style: none;
padding: 0;
margin: 0;
}

h1, h2, h3, h4, h5, h6{
margin: 0;
}
p{
   margin: 0;
}
/*---------logo-----------*/
.header{
   border-bottom: 1px solid #E7E9FC;

}
.container{
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}
.header-container{
   display: flex;
   align-items: center;
}
.navigation{
   display: flex;
   align-items: center;
}



 .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    font-family: Raleway, sans-serif;
 }

.logo:hover, 
.logo:focus {
   color: #404BBF;
}
 .logo-part {
    color: #2E2F42;
}
.nav-list {
   display: flex;
   gap: 40px;

}

 .nav-link {
        color:#2E2F42;
        font-weight: 500;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
        padding: 24px 0px;
        display: block;
 }
 .nav-link:hover,
 .nav-link:focus {
  color: #404BBF;
 }

 .address-list {
    display: flex;
    gap: 40px;
   
}
 .address {
    font-style: normal;
   margin-left: auto;
 }

 .address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        
 }
 .address-link:hover,
 .address-link:focus{color: #404BBF;}
/*---------logo-----------*/

/*----------Effective Solutions for Your Business--------*/

.effective {
   background-color: #2E2F42;
   padding: 188px 0px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
               rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
         background-repeat: no-repeat;
         background-position: auto;
         max-width: 1440px;
         margin: 0 auto;
}
.effective-container{



}
.title {
      
      font-weight: 700;
      font-size: 56px;
      line-height: 107%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #FFFFFF;
      max-width: 496px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
      
   
}

.button {
     
         font-weight: 500;
         line-height: 1.5;
         color: #FFFFFF;
         letter-spacing: 0.04em;
         cursor: pointer;
         background-color: #4D5AE5;
         display:block;
         min-width: 169px;
         height: 56px;
         border: none;
         border-radius: 4px;
         text-align: center;
         margin-left: auto;
         margin-right: auto;
        
}
.button:hover,
.button:focus{
   background-color: #404BBF
}

/*----------Effective Solutions for Your Business--------*/

/*features*/

.section-features{
   padding: 120px 0;

}
.visually-hidden{
position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.items-text{
width: calc((100% - 72px) / 4);
}

.container-icon{
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #8e8f99;
background-repeat: 4px;
width: 264px;
height: 112px;
background: #F4F4FD;
margin-bottom: 8px;
border-radius: 4px;
transition: background-color;

}

.list-text{
   display: flex;
   gap: 24px;
   
}


.subtitle {
      
      color: #2E2F42;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em; 
      text-transform: capitalize;
      background-color: #FFFFFF;
      margin-bottom: 8px;
     
}

.subtitle-text {
      color: #434455;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin: 0;
}
 /*features*/

/****our team****/
.section-our-team{
   background-color: #F4F4FD;
   padding: 120px 0;
   
   border-radius: 0px 0px 4px 4px;
}

.team-container{


}

.img-our-team{
   display: flex; 
   gap: 24px;
   margin-right: 24px;
   margin: 0;
   padding: 0;
   
}




.subject-our-team {
   
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   color: #2E2F42;
   text-transform: capitalize;
   text-align: center;
   margin-bottom: 72px;
  


  
}
.img-team{
   background-color: #FFFFFF;
   
   border-radius: 0px 0px 4px 4px;
}
.team-info{
   padding: 32px 0;


}
  .img-team-desc {
   
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   text-align: center;
   margin-bottom: 8px;
 

   
 }
 .img-team-text {
  
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
}

.our-list-icon{


}
.team-link{

}
.team-icon{

}

.team-wrap{
   

}
/****our team****/

/*our portfolio*/



.section-our-portfolio{
   padding-top: 120px;
   padding-bottom: 120px;
}

.subject-our-portfolio {
   
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: capitalize;
      text-align: center;
      color: #2e2f42;
      margin-bottom: 72px;
      
}
.portfolio-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   gap: 48px 24px;
   margin: 0;
   padding: 0;
   row-gap: 48px;

}
.img-portfolio {

   background-repeat: 4px;
   width: calc((100% - 48px) / 3);

}


.portfolio-info {
   padding: 32px 16px;
   border: 1px solid #E7E9FC;
   border-top: none;
  
   
}
.images {
   display: block;
   max-width: 100%;
   height: auto;
}


.img-portfolio-desc {
   
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2E2F42;
      text-transform: capitalize;
      margin-bottom: 8px;
      

   }

.img-portfolio-text {
      color: #434455;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
}


  /*our portfolio*/

/*footer*/
.footer{
   background-color: #2E2F42;
   padding: 100px 0;
   
   
}
.link {
   font-family: Raleway,  sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4D5AE5;
   display: inline-block;
   margin-bottom: 16px;
}
.link-part {
 color: #F4F4FD;
}
   .text{
      
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #F4F4FD;
         max-width: 264px;
         margin: 0;
   }

   .footer-text-icon{


   }

   .footer-item-icon{

   }

   .footer-icon{


   }
  
   .footer-wrap{


   }
/*footer*/



