
/*---------logo-----------*/
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #fff 
}

a{
    text-decoration: none;

}
 ul, ol {
list-style: none;
 }

.effective{
   background-color: #2E2F42;
}
 .logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
    
 }

 .logo-part {
    color: #2E2F42;
 }

 .nav-link {
        color:#2E2F42;
        font-weight: 500;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
 }
 .nav-link:hover,
 .nav-link:focus {
  color: #404BBF;
 }

 .address {
    font-style: normal;
 }

 .address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
 }
 .address-link:hover,
 .address-link:focus{color: #404BBF;}
/*---------logo-----------*/

/*----------Effective Solutions for Your Business--------*/
.title {
      
      font-weight: 700;
      font-size: 56px;
      line-height: 107%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #FFFFFF;
}

.button {
         border-radius: 4px;
         font-weight: 500;
         line-height: 1.5;
         color: #FFFFFF;
         letter-spacing: 0.04em;
         cursor: pointer;
         background-color: #4D5AE5;
}
.button:hover
.button:focus {
 background-color: #404BBF;
}

/*----------Effective Solutions for Your Business--------*/

/*features*/
.section-features{
   
}
.subtitle {
      color: #2E2F42;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      font-family: sans-serif;
      text-transform: capitalize;
      background-color: #FFFFFF;
}

.subtitle-text {
      color: #434455;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      font-family: sans-serif;
}

.section-our-team{
   background-color: #F4F4FD;
}
.subject {
   
   font-weight: 700;
   font-size: 36px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
   text-transform: capitalize;
   text-align: center;
   background-color: #FFFFFF;
}


 

.img-team-desc {
   
   font-weight: 500;
   font-size: 20px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   color: #2E2F42;
   background-color: #FFFFFF;
   
   
   
   
   }



.img-team-text {
  
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#434455;
   background-color: #FFFFFF;
}



.img-portfolio-desc {
   
      font-weight: 500;
      font-size: 20px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color: #2E2F42;
      text-transform: capitalize;
   }

.img-portfolio-text {
      color: #434455;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.11;
      letter-spacing: 0.02em;
     
   
}
  /*features*/

/*footer*/
.footer{
   background-color: #2E2F42;
}
.link {
   font-family: Raleway,  sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4D5AE5;
}
.link-part {
 color: #F4F4FD;
}
   .text{
      
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #F4F4FD;
 }
   
/*footer*/



